<ion-header [translucent]="true">
  <ion-toolbar>
    <!--<ion-title>
      Blank
    </ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card-header>
    <ion-card-title>Hello!</ion-card-title>
    <ion-card-subtitle>This is an example</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    This is an example application for <b>IT 331: Application Development and Emerging Technologies</b> and <b>IT 332: Integrative Programming and Technologies</b>.
  </ion-card-content>
</ion-card>
</ion-content>
